<% include partials/header %>
<h1><%= campground.name %></h1>
<img src="<%= campground.imageUrl %>">
<p>
    <%= campground.description %>
</p>

<p><a class="btn btn-primary btn-lg" href="/campgrounds/<%=campground._id%>/comments/new" role="button">Add new Comment</a></p>

<submit></submit>
<%campground.comments.forEach(function(comment){%>
    <p>
        <strong><%= comment.author%></strong> - <%= comment.text%>
    </p>
<%})%>

<% include partials/footer %>